* {
	margin: 0;
	padding: 0;
	border: 0;
    outline: none;
    color: white;
	text-decoration: none;
    box-sizing: border-box;
    font-family: Myriad Pro, Open Sans, sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    -webkit-font-smoothing: antialiased;
}

.chat-panel {
    position: absolute;
    height: 25vh;
    width: 35vw;
    top: 10px;
    left: 10px;
    overflow: hidden;
}

.chat-container {
    height: 22vh;
    padding: 10px;
    overflow-y: auto;
    font-weight: bolder;
}

.chat-input {
    height: 3vh;
    width: 35vw;
    color: #F2F2F2;
    line-height: 3vh;
    padding: 0px 10px;
    vertical-align: middle;
    background-color: rgba(29, 31, 31, 0.7);
    border: 1px solid #C9C5C5;
    border-radius: 1px;
}

.disabled, .chat-input:disabled {
    background-color: transparent;
    overflow-y: hidden;
    border: none;
}