


bridge/server_exceptions.txt

bridge/server_logs.txt

client_packages/.listcache

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/es-ES/WiredPlayers.resources.dll

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/pt-BR/WiredPlayers.resources.dll

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/TempPE/messages.administration.AdminRes.Designer.cs.dll

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/TempPE/messages.description.DescRes.Designer.cs.dll

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/TempPE/messages.error.ErrRes.Designer.cs.dll

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/TempPE/messages.factions.FacRes.Designer.cs.dll

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/TempPE/messages.general.GenRes.Designer.cs.dll

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/TempPE/messages.information.InfoRes.Designer.cs.dll

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/TempPE/messages.items.ItemRes.Designer.cs.dll

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/TempPE/messages.jobs.JobRes.Designer.cs.dll

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/TempPE/messages.success.SuccRes.Designer.cs.dll

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.assets.cache

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.csproj.CopyComplete

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.csproj.CoreCompileInputs.cache

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.csproj.FileListAbsolute.txt

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.csproj.GenerateResource.cache

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.csprojAssemblyReference.cache

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.dll

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.messages.administration.AdminRes.pt-BR.resources

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.messages.administration.AdminRes.resources

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.messages.DescRes.resources

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.messages.description.DescRes.pt-BR.resources

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.messages.description.DescRes.resources

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.messages.error.ErrRes.pt-BR.resources

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.messages.error.ErrRes.resources

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.messages.factions.FacRes.resources

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.messages.general.GenRes.pt-BR.resources

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.messages.general.GenRes.resources

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.messages.help.HelpRes.es-ES.resources

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.messages.help.HelpRes.pt-BR.resources

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.messages.help.HelpRes.resources

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.messages.InfoRes.resources

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.messages.information.InfoRes.pt-BR.resources

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.messages.information.InfoRes.resources

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.messages.items.ItemRes.resources

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.messages.jobs.JobRes.resources

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.messages.success.SuccRes.pt-BR.resources

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.messages.success.SuccRes.resources

bridge/resources/WiredPlayers/obj/Debug/netcoreapp2.2/WiredPlayers.pdb

bridge/resources/WiredPlayers/obj/project.assets.json

bridge/resources/WiredPlayers/obj/project.nuget.cache

bridge/resources/WiredPlayers/obj/WiredPlayers.csproj.nuget.dgspec.json

bridge/resources/WiredPlayers/obj/WiredPlayers.csproj.nuget.g.props

bridge/resources/WiredPlayers/obj/WiredPlayers.csproj.nuget.g.targets

bridge/resources/WiredPlayers/.vs/OceanicRP/v16/.suo

bridge/resources/WiredPlayers/bin/Debug/netcoreapp2.2/es-ES/WiredPlayers.resources.dll

bridge/resources/WiredPlayers/bin/Debug/netcoreapp2.2/pt-BR/WiredPlayers.resources.dll

bridge/resources/WiredPlayers/bin/Debug/netcoreapp2.2/WiredPlayers.dll

bridge/resources/WiredPlayers/bin/Debug/netcoreapp2.2/WiredPlayers.pdb

bridge/resources/WiredPlayers/Properties/launchSettings.json

client_packages/cs_packages/WiredPlayers-Client/obj/Debug/netcoreapp2.2/WiredPlayers-Client.AssemblyInfoInputs.cache

client_packages/cs_packages/WiredPlayers-Client/obj/Debug/netcoreapp2.2/WiredPlayers-Client.assets.cache

client_packages/cs_packages/WiredPlayers-Client/obj/Debug/netcoreapp2.2/WiredPlayers-Client.csprojAssemblyReference.cache

client_packages/cs_packages/WiredPlayers-Client/obj/project.assets.json

client_packages/cs_packages/WiredPlayers-Client/obj/project.nuget.cache

client_packages/cs_packages/WiredPlayers-Client/obj/WiredPlayers-Client.csproj.nuget.dgspec.json

client_packages/cs_packages/WiredPlayers-Client/obj/WiredPlayers-Client.csproj.nuget.g.props
